@tailwind base;
@tailwind components;
@tailwind utilities;

.intro h1{
  text-align: left;
}

@media (max-width: 992px) {
  .hero .imgMobile img {
    display: inline-block;
  }
  .intro h1{
    text-align: center;
  }
  .intro .medsos{
    text-align: center;
  }
}

